@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.contact-form{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 95%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 5px;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}



li[class="nav-link"]{
    border:1px solid rgba(0, 0, 0, 0.251);
    border-bottom: none;
}

h1{
    color: #FF7D39;
    font-family: Luckiest Guy;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
}
h3{
    color: #FF7D39;
    font-family: Luckiest Guy;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
}

li a:hover{
    color: #f09e08;
    text-decoration: none;
}
li a{
    color: #dde5eb;
    text-decoration: none;
    align-self: center;
    align-items: center;
}

div{
    border-radius: 5px;
}

nav img{
    border-radius: 10%;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    .sage{
        width: 100px;
    }
}
