@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');




li[class="nav-link"]{
    border:1px solid rgba(0, 0, 0, 0.251);
    border-bottom: none;
}

h1{
    color: #FF7D39;
    font-family: Luckiest Guy;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
}

li a:hover{
    color: #34383b;
    text-decoration: none;
}
li a{
    color: #34383b;
    text-decoration: none;
}